In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv('C:/Users/asus/Desktop/DEVP/salaries.csv')

In [19]:
df . head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,ServiceYear,Agency,Status
0,1,AMY BROWNELL,ADMINISTRATIVE ENGINEER,130171.24,0.0,0.00,Regular,130171.24,130171.24,2023,1,San Francisco Talent Portal,Active
1,2,CHARLES YU,ADMINISTRATIVE ENGINEER,130171.05,0.0,0.00,Regular,130171.05,130171.05,2023,1,San Francisco Talent Portal,Active
2,3,LORA BOWMAN,ADMINISTRATIVE ENGINEER,128923.30,0.0,0.00,Regular,128923.30,128923.30,2023,5,San Francisco Talent Portal,Active
3,4,RAUL MOSUELA,ADMINISTRATIVE ENGINEER,130171.02,0.0,0.00,Regular,130171.02,130171.02,2023,1,San Francisco Talent Portal,Inactive
4,5,SEVERINO CARANTO-JR,ADMINISTRATIVE ENGINEER,136679.61,0.0,0.00,Contract,136679.61,136679.61,2023,11,San Francisco Talent Portal,Active
5,6,SUSAN LEONG,ADMINISTRATIVE ENGINEER,130171.08,0.0,0.00,Regular,130171.08,130171.08,2023,1,San Francisco Talent Portal,Inactive
6,7,TIMOTHY LEUNG,ADMINISTRATIVE ENGINEER,130171.00,0.0,4805.96,Contract,134976.96,134976.96,2023,14,San Francisco Talent Portal,Active
7,8,WALLACE WONG,ADMINISTRATIVE ENGINEER,103219.63,0.0,46102.60,Contract,149322.23,149322.23,2023,9,San Francisco Talent Portal,Active
8,9,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124.44,0.0,12000.00,Contract,257124.44,257124.44,2023,5,San Francisco Talent Portal,Active
9,10,TIMOTHY HATFIELD,AIRPORT MECHANICAL MAINTENANCE SUPERVISOR,118978.52,0.0,9555.65,Contract,128534.17,128534.17,2023,4,San Francisco Talent Portal,Active

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                5000 non-null   int64
 1   EmployeeName      5000 non-null   object
 2   JobTitle          5000 non-null   object
 3   BasePay           5000 non-null   float64
 4   OvertimePay       5000 non-null   float64
 5   OtherPay          5000 non-null   float64
 6   Benefits          5000 non-null   object
 7   TotalPay          5000 non-null   float64
 8   TotalPayBenefits  5000 non-null   float64
 9   Year              5000 non-null   int64
 10  ServiceYear       5000 non-null   int64
 11  Agency            5000 non-null   object
 12  Status            5000 non-null   object
dtypes: float64(5), int64(3), object(5)
memory usage: 507.9+ KB

In [26]:
df.shape

(5000, 13)

In [32]:
df['BasePay'].astype(int)

0       130171
1       130171
2       128923
3       130171
4       136679
         ...
4995    115415
4996     77670
4997     74932
4998     77916
4999     74628
Name: BasePay, Length: 5000, dtype: int32

In [36]:
average_basepay = df['BasePay'].mean()
print("The average BasePay is:", average_basepay)

The average BasePay is: 125827.222766

In [38]:
columns = df.columns
print("Columns in the dataset:", columns)

Columns in the dataset: Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'ServiceYear',
       'Agency', 'Status'],
      dtype='object')

In [40]:
max_overtimepay = df['OvertimePay'].max()
print("The highest amount of OvertimePay is:", max_overtimepay)

The highest amount of OvertimePay is: 245131.88

In [42]:
unique_job_titles_count = df['JobTitle'].nunique()
print("The number of unique job titles is:", unique_job_titles_count)

The number of unique job titles is: 268

In [44]:
numerical_summary = df.describe()
print(numerical_summary)

                Id        BasePay    OvertimePay       OtherPay  \
count  5000.000000    5000.000000    5000.000000    5000.000000
mean   2500.500000  125827.222766   14643.700534   12713.297346
std    1443.520003   27735.858422   20742.384989   16077.930990
min       1.000000       0.000000       0.000000       0.000000
25%    1250.750000  105934.720000       0.000000    3019.247500
50%    2500.500000  123105.000000    6562.645000   10126.650000
75%    3750.250000  139023.230000   19950.072500   17209.422500
max    5000.000000  294580.020000  245131.880000  400184.250000

            TotalPay  TotalPayBenefits    Year  ServiceYear
count    5000.000000       5000.000000  5000.0  5000.000000
mean   153184.220646     153184.220646  2023.0     5.234400
std     27082.773519      27082.773519     0.0     4.117238
min    124227.760000     124227.760000  2023.0     1.000000
25%    133508.180000     133508.180000  2023.0     2.000000
50%    146556.800000     146556.800000  2023.0     4.000000
75%    164373.380000     164373.380000  2023.0     7.000000
max    567595.430000     567595.430000  2023.0    19.000000